{% extends 'base.html.twig' %}

{% block title %} Contact | Symfony Hackathon Starter {% endblock %}

{% block body %}
    <main role="main" style="margin-top: 30px">
        <div class="container">
            <div class="title_header">
                <h3> Contact Form </h3>
            </div>

            <form method="POST">
                <input type="hidden" name="_csrf" value="nBsnlTxSVRt29AOPEZph1JjgdL+J2F9hpUzOU=">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label font-weight-bold" for="message">Please describe the issue or your suggestion</label>
                    <div class="col-md-8">
                        <textarea class="form-control" name="message" id="message" rows="7" autofocus="true" data-gramm="true" data-txt_gramm_id="ff9552c5-54ef-9908-b0ca-456b03ca8001" data-gramm_id="ff9552c5-54ef-9908-b0ca-456b03ca8001" spellcheck="false" data-gramm_editor="true" style="z-index: auto; position: relative; line-height: 24px; font-size: 16px; transition: none 0s ease 0s; background: transparent !important;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="offset-md-2 col-md-8 p-1">
                        <button class="btn btn-primary" type="submit">
                            <i class="far fa-envelope fa-sm"></i>Send
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
