{% trans_default_domain 'FOSUserBundle' %}a
<div class="container">
    <div class="row">
        <div class="col-md-12 title_header">
            <h3> Profile Information </h3>
        </div>
    </div>
</div>

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
</div>
{{ form_end(form) }}
