{% trans_default_domain 'FOSUserBundle' %}a
<div class="container">
    <div class="row">
        <div class="col-md-12 title_header">
            <h3>Edit Profile </h3>
        </div>

        <div class="col-md-12">

            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit form-signin' } }) }}
            {{ form_widget(form) }}

            <div class="form-label-group">
                <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block" type="submit">{{ 'profile.edit.submit'|trans }}</button>
            </div>

            {{ form_end(form) }}

        </div>
    </div>
</div>
