{% extends 'base.html.twig' %}


{% block body %}
<div class="main-container">

    <div class="page-header">
        <h2><i style="color: #7b0099" class="fa fa-yahoo"></i>Yahoo API</h2>
    </div>

    {#<div class="btn-group btn-group-justified">#}
    <div class="btn-group d-flex" role="group">

        <a href="https://developer.yahoo.com/yql/" target="_blank" class="btn btn-primary w-100">
            <i class="fa fa-check-square-o"></i> YQL Getting Started
        </a>
        <a href="https://developer.yahoo.com/everything.html" target="_blank" class="btn btn-primary w-100">
            <i class="fa fa-code"></i> Yahoo APIs
        </a>
    </div>

    <br>

    <p class="lead">Weather for ZIP Code:<strong> 10007</strong></p>

    <div class="alert alert-info">
        <p>It is currently<strong>
            </strong> degrees in<strong> New York, NY</strong>.</p>
    </div>

    <h3>YQL Query</h3>

    <pre>SELECT * FROM weather.forecast WHERE (location = 10007)</pre>

</div>
{% endblock %}
