<footer class="container">
    <div class="float-left">
        <p>&copy; <a href="https://twitter.com/yemiwebby" target="_blank">Yemiwebby 2017-2018</a></p>
    </div>

    <div class="float-right">
        <span><a href="https://github.com/yemiwebby/symfony-hackathon-starter">GitHub Project</a></span>
        <span><a href="https://github.com/yemiwebby/symfony-hackathon-starter/issues">Issues</a></span>
    </div>
</footer>