#index:
#    path: /
#    controller: App\Controller\DefaultController::index

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile

fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /profile

hwi_oauth_redirect:
    resource: "@HWIOAuthBundle/Resources/config/routing/redirect.xml"
    prefix:   /connect

hwi_oauth_connect:
    resource: "@HWIOAuthBundle/Resources/config/routing/connect.xml"
    prefix:   /connect

hwi_oauth_login:
    resource: "@HWIOAuthBundle/Resources/config/routing/login.xml"
    prefix:   /login

facebook_login:
    path: /secured/login_facebook

google_login:
    path: /secured/login_google

twitter_login:
    path: /secured/login_twitter

sensio_connect_login:
    path: /secured/login_sensio

github_login:
    path: /secured/login_github

gitlab_login:
    path: /secured/login_gitlab

linkedin_login:
    path: /secured/login_linkedin

bitbucket_login:
    path: /secured/login_bucket

instagram_login:
    path: /secured/login_instagram

auth0_login:
    path:    /auth0/callback

auth0_logout:
    path: /auth0/logout