
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

            {#<script>#}
                {#window.fbAsyncInit = function() {#}
                    {#FB.init({#}
                        {#appId      : '{your-app-id}',#}
                        {#cookie     : true,#}
                        {#xfbml      : true,#}
                        {#version    : '{api-version}'#}
                    {#});#}

                    {#FB.AppEvents.logPageView();#}

                {#};#}

                {#(function(d, s, id){#}
                    {#var js, fjs = d.getElementsByTagName(s)[0];#}
                    {#if (d.getElementById(id)) {return;}#}
                    {#js = d.createElement(s); js.id = id;#}
                    {#js.src = "https://connect.facebook.net/en_US/sdk.js";#}
                    {#fjs.parentNode.insertBefore(js, fjs);#}
                {#}(document, 'script', 'facebook-jssdk'));#}
            {#</script>#}
        {% endblock %}
    </body>
</html>
