{% extends 'base.html.twig' %}

{% block title %} Contact | Symfony Hackathon Starter {% endblock %}

{% block body %}
    <main role="main" style="margin-top: 30px">
       <div class="container">
           <div class="title_header">
               <h3> Contact Form </h3>
           </div>

           <form method="POST">
               <div class="form-group row">
                   <label class="col-md-2 col-form-label font-weight-bold" for="message">Please describe the issue or your suggestion</label>
                   <div class="col-md-8">
                       <textarea class="form-control" name="message" id="message" rows="7" autofocus="true"></textarea>
                   </div>
               </div>
               <div class="form-group">
                   <div class="offset-md-2 col-md-8 p-1">
                       <button class="btn btn-primary" type="submit">
                           <i class="fa fa-envelope fa-sm"></i>&nbsp;&nbsp;Send
                       </button>
                   </div>
               </div>
           </form>
       </div>
    </main>
{% endblock %}
