{% extends 'base.html.twig' %}

{% block title %} Contact | Symfony Hackathon Starter {% endblock %}

{% block body %}
    <main role="main" style="margin-top: 30px">
       <div class="container">
           <div class="title_header">
               <h3> Contact Form </h3>
           </div>

           <form method="POST"><input type="hidden" name="_csrf" value="nBsnlTxSVRt29AOPEZph1JjgdL+J2F9hpUzOU="><div class="form-group row"><label class="col-md-2 col-form-label font-weight-bold" for="message">Please describe the issue or your suggestion</label><div class="col-md-8"><grammarly-ghost spellcheck="false"><div data-id="ff9552c5-54ef-9908-b0ca-456b03ca8001" data-gramm_id="ff9552c5-54ef-9908-b0ca-456b03ca8001" data-gramm="gramm" data-gramm_editor="true" class="gr_ver_2" gramm="true" contenteditable="true" style="position: absolute; color: transparent; overflow: hidden; white-space: pre-wrap; border-radius: 0px; box-sizing: border-box; height: 182px; width: 730px; margin-right: 0px; margin-bottom: 0px; margin-left: 15px; padding: 6px 12px; z-index: 0; border-width: 1px; border-style: solid; background: none 0% 0% / auto repeat scroll padding-box padding-box rgb(255, 255, 255); top: 0px; left: 0px;"><span style="display: inline-block; font: 400 16px/24px HelveticaNeue-CondensedBold, &quot;Helvetica Neue&quot;, Arial, sans-serif; color: transparent; overflow: hidden; text-align: left; float: initial; clear: none; box-sizing: border-box; vertical-align: baseline; white-space: pre-wrap; width: 100%; margin: 0px; padding: 0px; border: 0px; letter-spacing: normal; text-shadow: none; height: 180px;"></span><br></div></grammarly-ghost><textarea class="form-control" name="message" id="message" rows="7" autofocus="true" data-gramm="true" data-txt_gramm_id="ff9552c5-54ef-9908-b0ca-456b03ca8001" data-gramm_id="ff9552c5-54ef-9908-b0ca-456b03ca8001" spellcheck="false" data-gramm_editor="true" style="z-index: auto; position: relative; line-height: 24px; font-size: 16px; transition: none 0s ease 0s; background: transparent !important;"></textarea><grammarly-btn><div class="_1BN1N Kzi1t _2DJZN" style="z-index: 2; transform: translate(714px, 151px);"><div class="_1HjH7"><div title="Protected by Grammarly" class="_3qe6h">&nbsp;</div></div></div></grammarly-btn></div></div><div class="form-group"><div class="offset-md-2 col-md-8 p-1"><button class="btn btn-primary" type="submit"><i class="far fa-envelope fa-sm"></i>Send</button></div></div></form>
       </div>
    </main>
{% endblock %}
